body {
	margin: 2em;
}

form {
	width: 20em;
	margin-top: 2em;
}

input {
	margin: 0 0 1.5em .5em;
}

label {
	float: left;
	text-align: right;
	width: 10em;
}

.button {
	float: right;
	margin-top: 3em;
}
